<!-- <nav class="navbar navbar-expand-lg navbar-dark" style="width: 100%;background-color:crimson">
    <a class="navbar-brand" style="color: black;">Udemy<br></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      style="float: right;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav col-md-12">
        
        <div class="col-md-1">
            <li class="nav-item active">
                <a class="nav-link" routerLink='/tasks' style="color: black;">Catagories <span class="sr-only">(current)</span></a>
              </li>
        </div>


    <div class="col-md-7">
        <li class="nav-item active">
            <input type="text" class="form-control" placeholder="Search for anything">
          </li>
    </div>

    <div class="col-md-4 d-flex" style="background-color: blueviolet;">
        <li class="nav-item active">
            <a class="nav-link" style="color:black;">Udemy for Business</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink='/task2' style="color: black;">Teach on Udemy</a>
          </li>
          <li class="nav-item active">
            <button type="button" class="btn btn-default" style="border: 1px solid black;">Active Primary</button>

          </li>
          <li class="nav-item active">
            <button type="button" class="btn btn-info ml-3">Sign Up</button>

          </li>
    </div>
      </ul>
    </div>
  </nav> -->


<!-- <nav class="navbar navbar-expand-lg ">

  <a class="navbar-brand" style="color: black;">Udemy<br></a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse col-md-12" id="collapsibleNavbar">
    <div class="col-md-1">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" routerLink='/tasks' style="color: black;">Catagories</a>
        </li>
      </ul>

    </div>


    <div class="col-md-5">
      <input type="text" class="form-control" placeholder="Search for anything">
    </div>

  
    <div class="col-md-6">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" style="color:black;">Udemy for Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/task2' style="color: black;">Teach on Udemy</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-default" style="border: 1px solid black;">Login</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-info ml-3">Sign Up</button>
        </li>
      </ul>
    </div>

  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light container" style="justify-content: space-evenly;">
  <a class="navbar-brand" style="color: black;">Udemy<br></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#n">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="n">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/tasks' style="color: black;">Catagories <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <input type="text" class="form-control" placeholder="Search for anything">
      </li>

      <li class="nav-item active">
        <a class="nav-link" style="color:black;">Udemy for Business</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink='/task2' style="color: black;">Teach on Udemy</a>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-default" style="border: 1px solid black;">Login</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-info ml-3">Sign Up</button>
      </li>
    </ul>
  </div>
</nav>




<div>
  <img src="https://miro.medium.com/max/1400/1*HuQyl7_WMMzOfs8RIlQ-XA.png" class="img-fluid"
    style="height: 30rem; width: 100%; object-fit: cover;">
  <div style="position: absolute;margin-top: -20rem ; margin-left:10rem;">
    <div class="columns">
      <div class="col-md-10">

        <h1 style="color: white; "><b> learn on your schedule</b></h1>
        <h3 style="color: white;">Anywhere, anytime. Enjoy risk free with our 30-day, money back gurantee</h3>
        <div class="form-group">
          <input type="text" name="" id="" class="form-control">
        </div>
      </div>
    </div>
  </div>

  <!-- <div style="position: absolute; top: 50%; left: 40%;" class="col-md-3">
        <h1 style="color: white;">learn on your schedule</h1>
        <h3 style="color: white;">Anywhere, anytime. Enjoy risk free with our 30-day, money back gurantee</h3>
        <input type="text" class="form-control" placeholder="What do you want to learn?">
    </div> -->
</div>
<div class="row p-4" style="text-align: center; background-color:#6d1e3a;">
  <div class="col-md" style="color:white;">
    100,000 online courses <br>
    Explore a variety of fresh topics

  </div>
  <div class="col-md" style="color: white;">
    Expert instruction<br>
    Find the right instructor for you

  </div>
  <div class="col-md" style="color: white;">
    Lifetime access<br>
    Learn on your schedule
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 p-4 m-4 d-flex"
      style="height: 20rem; justify-content: center; align-items: center; background-color: #f7f8fa">

      <div class="columns">
        <h3><strong>The world’s largest selection of courses</strong></h3>
        <p>Choose from over 100,000 online video courses with new additions published every month</p>
      </div>

    </div>

    <div class="col-md-6 my-4">
      <!-- <div *ngFor="let image of movies ;let i=index" style="margin-left: 6px;">

            <button (click)="forIndex(i)">
              {{image.name}}
            </button>
             
          <div *ngIf="show">
              <div *ngFor="let image of movies ;let i=index">
              <div *ngIf = "i === selectedIndex">
                <hr style="border-width: 2px; border-color: crimson;">
              </div> 
              
              </div>
            </div>
      </div> -->
      <ul class="nav nab-tabs" role="tablist">
        <li class="nav-item" >
          <a class="nav-link active" id="bc" data-toggle="pill" href="#home" style="background-color: none;">Home</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" data-toggle="pill" href="#menu1" id="bc">Menu 1</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" data-toggle="pill" href="#menu2" id="bc">Menu 2</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>

          <div class="card-columns"> 
            
            <div class="card mx-0" style="height: 16rem; position: relative; left: -1em;"  *ngFor= "let image of movies">
              <div class="card-body">
                <div class="card-img">
                  <img src="{{image.src}}" class="img-fluid">

                </div>

                <div class="card-title">
                  <p> {{image.name}}</p> 
                </div>

                  <div class="card-text">
                    <small class="text-muted">
                      Someone famous in <cite title="Source Title">Source Title</cite>
                    </small>
                  </div>
                  <div class="card-footer">
                  THE Footer

                  </div>
                  
                    
                  

              </div>
         
        </div> 



      </div>
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
          <h3>Menu 1</h3>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="menu2" class="container tab-pane fade"><br>
          <h3>Menu 2</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
      </div>
   
      <!-- <div class="card-columns  " >
                  <div class="card p-3" style="height: 16rem;">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <footer class="blockquote-footer">
                    <small class="text-muted">
                      Someone famous in <cite title="Source Title">Source Title</cite>
                    </small>
                  </footer>
               
              </div>

              <div class="card p-3" style="height: 16rem;">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <footer class="blockquote-footer">
                    <small class="text-muted">
                      Someone famous in <cite title="Source Title">Source Title</cite>
                    </small>
                  </footer>
               
              </div>

              <div class="card p-3" style="height: 16rem;">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
             
            </div>


            </div> -->






    </div>


  </div>


</div>
<!-- <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div> -->
<!-- <div class="card">
          <img class="card-img-top" src=".../100px160/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card bg-primary text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
            <footer class="blockquote-footer">
              <small>
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img" src=".../100px260/" alt="Card image">
        </div>
        <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
</div> -->

<div style="background-color: whitesmoke; justify-content: space-evenly;" class="row p-5">
  <ul style="list-style: none; color: #017791;">
    <li>
      Udemy for business
    </li>
    <li>
      Teach on Udemy
    </li>
    <li>
      Udemy app
    </li>
    <li>
      About us
    </li>
  </ul>
  <ul style="list-style: none;color: #017791;">
    <li>
      Contact us
    </li>
    <li>
      Carees
    </li>
    <li>
      Blog
    </li>
    <li>
      Help and support
    </li>
  </ul>
  <ul style="list-style: none; color: #017791;">
    <li>
      Affliate
    </li>
    <li>
      Sitemap
    </li>
    <li>
      Featured courses
    </li>
  </ul>

  <div class="dropup">
    <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      English
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Link 1</a>
      <a class="dropdown-item" href="#">Link 2</a>
      <a class="dropdown-item" href="#">Link 1</a>
      <a class="dropdown-item" href="#">Link 2</a>
    </div>
  </div>

</div>
<div class="row p-5" style="justify-content: space-evenly;">
  <div class="row">
    <p style="color: #645a53;">
      Udemy
    </p>
    <p style="margin-left: 10px; color: #969ba2;">Copyright © 2020 Udemy, Inc.</p>
  </div>
  <div class="row">
    <p>Terms</p>
    <p style="margin-left: 10px;">Privacy policy and Cookie policy</p>
  </div>
</div>