<nav class="navbar navbar-expand-lg navbar-dark " style="width: 100%;background-color: #064848;">
  <a class="navbar-brand">Alice Hope MD <br>
    Family doctor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    style="float: right;">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="color: white;">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/tasks' style="color: white;">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color: white;">Services</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink='/task2' style="color: white;">Incurance polic</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink='/task2' style="color: white;">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <div class="row col-sm-12">
  <div class="col-sm-8">
    <img src="assets/Screenshot 2020-06-23 at 2.38.43 PM.png" style="width: 100% ; object-fit: cover;">
  </div>

  <div class="col-sm-4" style="background-color:lightblue; display: flex;
        justify-content: center;
        align-items: center">
    <div style="align-self: center; padding: 25px;">
      Reliable & Accesable to all <br>
      <h1 style="color: #064848; font-size: 30px;">
        Alice Hope MD <br>Oniline Medical<br> Services <br>
        <button mat-raised-button style="margin-top: 30px; background-color:#064848 ; color: white;">Book an Online
          Appointent</button>
      </h1>
    </div>
  </div>
</div> -->
<div class="container-fluid w-100%">
  <div class="row">
    <div class="col-sm-8" style="background-color:white;">
      <img src="assets/Screenshot 2020-06-23 at 2.38.43 PM.png" class="img-fluid" style=" object-fit: cover;">
    </div>
    <div class="col-sm-4" style="background-color:lightblue; display: flex;
        justify-content: center;
        align-items: center">
      <div>
        <small> Reliable & Accesable to all </small> <br>
        <h1 style="color: #064848; font-size: 30px;">
          Alice Hope MD <br>Oniline Medical<br> Services <br>
          <button mat-raised-button style="margin-top: 30px; background-color:#064848 ; color: white;">Book an Online
            Appointent</button>
        </h1>
      </div>
    </div>
  </div>
</div>

<!-- <h4 style="text-align: center; margin-top: 50px; color:#064848; font-size: 30px;">About</h4> -->

<!-- <hr style="border-width:5px; width: 6rem; text-align: center; background-color: #064848;"> -->
<!-- <div style="text-decoration: underline; margin-top: 20px; border-color: black; border-width: 2px; width: 150px;;"></div> -->


<!--  -->
<!-- <div class="row" style="margin-top: 80px;">


  <div class="col-md-6" style=" display: flex;
          justify-content: center;
          align-items: center">
    <div style="align-self: center;">
      <h1 style="font-size: 30px;">
        About Alice Hope MD
      </h1>
      <br>
    
      </h4>  <h3>
        I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click
        me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your
        page. I’m a great place for you to tell a story and let your users know a little more about you. <br>Oniline
        Medical<br> Services <br>
      </h3>
      <h4>
        This is a great space to write a long text about your company and your services. You can use this space to go
        into a little more detail about your company. Talk about your team and what services you provide. Tell your
        visitors the story of how you came up with the idea for your business and what makes you different from your
        competitors. Make your company stand out and show your visitors who you are.

    </div>
  </div>
  <div class="col-sm-6" style="display: flex;
            justify-content: center;
            align-items: center">
    <img src="/assets/Screenshot 2020-06-24 at 11.18.33 AM.png">
  </div>
</div> -->
<!--  -->



<!-- <div class="container-fluid my-5"> -->
  <h4 style="text-align: center; margin-top: 50px; color:#064848; font-size: 30px;">About</h4>
  <hr style="border-width:5px; width: 6rem; text-align: center; background-color: #064848;">
  <div class="row">
   
    <div class="col-sm-6" style="margin-top: 50px;">
<!-- 
      <div class="col-md-12">
        <div class="col-sm-8 ml-auto">
          <h1 class="d-flex justify-content-center">About of this page</h1>
        </div>
      </div> -->


    <div class="col-md-12">
      <div class="col-sm-6 m-auto">
      
        <h4>
          This is a great space to write a long text about your company and your services. You can use this space to
          go
          into a little more detail about your company. Talk about your team and what services you provide. Tell your
          visitors the story of how you came up with the idea for your business and what makes you different from your
          competitors. Make your company stand out and show your visitors who you are.
       
          This is a great space to write a long text about your company and your services. You can use this space to
          go
          into a little more detail about your company. Talk about your team and what services you provide. Tell your
          visitors the story of how you came up with the idea for your business and what makes you different from your
          </h4>

      
    </div>
  </div>
          </div>
      

    
        <!-- <img src="/assets/Screenshot 2020-06-24 at 11.18.33 AM.png"> -->
        <div class="col-sm-6 my-5">
          <div class="col-md-12">
            <div class="col-sm-6 m-auto">
            
              <h4>
                This is a great space to write a long text about your company and your services. You can use this space to
                go
                into a little more detail about your company. Talk about your team and what services you provide. Tell your
                visitors the story of how you came up with the idea for your business and what makes you different from your
                competitors. Make your company stand out and show your visitors who you are.
             
                This is a great space to write a long text about your company and your services. You can use this space to
                go
                into a little more detail about your company. Talk about your team and what services you provide. Tell your
                visitors the story of how you came up with the idea for your business and what makes you different from your
                </h4>
      
            
          </div>
        </div>
      </div>
    
    
    </div>
  <!-- </div> -->






  <div id="news1" style="background-color: #064848;">
    <h1 style="color: white; text-align: center; padding-top: 60px;">How Can I Help You</h1>
    <hr style="border-width:5px; width: 6rem; text-align: center; background-color: white;">
    <h2 style="color: white; text-align: center; margin-top: 50px;">Online Services</h2>
    <div class="col-sm-12 row" style="justify-content: center; align-items: center;">

      <div class="card-columns" style="justify-content: center; display: flex; flex-wrap:nowrap;">
        <div class="card bg-primary col-sm-6" style="margin-left: 10px;">
          <div class="card-body text-center">
            <!-- <p class="card-text"> -->
            <div class="row" style="align-items: center;">
              <h1 style="font-size: 2 rem;">1</h1>
              <h4 style=" margin-left: 10px">Blood Test<br> Analysts</h4>
            </div>

            <!-- </p> -->
          </div>
        </div>
        <div class="card bg-warning col-sm-6" style="margin-left: 20px;">
          <div class="card-body text-center">
            <!-- <p class="card-text">Some text inside the second card</p> -->
            <div class="row" style="align-items: center;">
              <h1 style="font-size: 2 rem;">1</h1>
              <h4 style=" margin-left: 10px">Blood Test<br> Analysts</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 row" style="justify-content: center; align-items: center;">

      <div class="card-columns" style="justify-content: center; display: flex; flex-wrap:nowrap;">
        <div class="card bg-primary col-sm-6" style="margin-left: 10px;">
          <div class="card-body text-center">
            <!-- <p class="card-text"> -->
            <div class="row" style="align-items: center;">
              <h1 style="font-size: 2 rem;">1</h1>
              <h4 style=" margin-left: 10px">Blood Test<br> Analysts</h4>
            </div>

            <!-- </p> -->
          </div>
        </div>
        <div class="card bg-warning col-sm-6" style="margin-left: 20px;">
          <div class="card-body text-center">
            <!-- <p class="card-text">Some text inside the second card</p> -->
            <div class="row" style="align-items: center;">
              <h1 style="font-size: 2 rem;">1</h1>
              <h4 style=" margin-left: 10px">Blood Test<br> Analysts</h4>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- <div class="card-columns d-flex align-items-center " style="justify-items:center; align-items: center; justify-content: center; ">
  <div class="card  col-sm-2" style="background-color: cadetblue;">
    <div class="card-body  d-flex text-align-center " >
      <h1 style="font-size: 3rem;">1</h1> &nbsp; &nbsp; &nbsp;  <h4>Blood Test<br> Analysts</h4></div>
    </div>
       
    <div class="card  col-sm-2" style="background-color: cadetblue;">
      <div class="card-body  d-flex text-align-center " >
        <h1 style="font-size: 3rem;">1</h1> &nbsp; &nbsp; &nbsp;  <h4>Blood  Test<br> Analysts</h4></div>
      </div>
</div> -->

    <div class="col-sm-12 row" style="justify-content: center; align-items: center; margin-top: 40px;">

      <div style="display: flex; justify-content: center; padding-bottom: 50px; margin-top: 15px;">
        <button mat-raised-button style="margin-top: 30px; background-color:#d8efed ; color:black;">Book an Online
          Appointent</button>

      </div>
    </div>
  </div>




  <div class="row class-sm-12" style="margin-top: 80px;">
    <div class="col-sm-6" style=" display: flex;
              justify-content: center;
              align-items: center;background-color:#064848 ; color: white; padding: 30px;">
      <div style="align-self: center;" class="col-sm-6">
        <h1 style="font-size: 30px;">
          Working hours
        </h1>
        <br>
        <h3> Monday-Friday: 9am to 7pm
        </h3>
        <h4>
          Saturday: 9am to 4pm
        </h4>
        <h4>
          Sunday: Closed
        </h4>
      </div>
    </div>
    <div class="col-sm-6" style="display: flex;
                justify-content: center;
                align-items: center; background-color: lightblue;">

      <form class="example-form" style="margin-top: 50px; padding:30px">
        <mat-label style=" font-size: 25px;">For Any Questions <br>
          Contact me here</mat-label>
        <table class="example-full-width" cellspacing="0" style="margin-top: 50px; color: #064848;">
          <tr>
            <td>
              <mat-form-field class="example-full-width" style="color: #064848;">
                <mat-label style="color: #064848;">First name</mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label style="color: #064848;">Gmail</mat-label>
            <input matInput>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label style="color: #064848;">Address</mat-label>
            <textarea matInput placeholder="Ex. 100 Main St"></textarea>
          </mat-form-field>
        </p>
        <button mat-raised-button style="margin-top: 30px; background-color:#064848 ; color: white;">Submit</button>

      </form>

    </div>
  </div>