
    <!-- <div class="img" style="height: 6rem; width: auto; background-color:#064848; display: flex; ">
      <ul>

      </ul>
    </div> -->
    <div>
      <nav class="navbar navbar-expand-lg navbar-dark navbar fixed-top bg-danger my-5" >

        <div>
          <a class="navbar-brand" style="color: white;">Alice Hope MD <br>
            Family doctor</a>
        </div>
        <div class="ml-auto">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent" style="color: white;">
            <ul class="navbar-nav mr-auto" style="color: white;">
              <li class="nav-item active">
                <a class="nav-link" routerLink='/tasks' style="color: white;">About <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link"  style="color: white;">Services</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink='/task2' style="color: white;">Incurance polic</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink='/task2' style="color: white;">Contact</a>
              </li>
            </ul>
    
          </div>
        </div>

      </nav>
      </div>
 



    <!-- <mat-toolbar style="background-color: #064848 ;" class="navbar ">
       <div style="color: white; font-size: 16px;">
       Alice Hope MD <br>
       Family doctor
       </div>
       <div style="color: white;">
       
           <a class="span" href="www.google.com">
            About
           </a>
           <span class="span">
            Services
           </span>
           <span class="span">
            insurance policy
           </span>
           <span class="span">
            contact
           </span>
       </div>
  
    </mat-toolbar> -->






    <!-- <mat-card>Simple card</mat-card> -->
    <!-- <div style="display:inline-flex;">
        <img src="assets/Screenshot 2020-06-23 at 2.38.43 PM.png"  class="img" height="600 rem" width="auto" style="object-fit: cover;"/>
    </div> -->
    <!-- <mat-grid-list cols="2" rowHeight="2:2" class="img1">
        <mat-grid-tile> 
            <img src="assets/Screenshot 2020-06-23 at 2.38.43 PM.png" style="object-fit: cover;"/>
        </mat-grid-tile>
        <mat-grid-tile> 
            <h4>
                Reliable & Accesable to all <br> 
                <h1 style="color: #064848; font-size: 30px;">
                     Alice Hope MD <br>Oniline Medical<br> Services <br>
                     <button mat-raised-button style="margin-top: 30px; background-color:#064848 ; color: white;">Book an Online Appointent</button>
                  </h1>
            </h4> 
    </mat-grid-tile>
      </mat-grid-list> -->
      <div class="row">
          <div class="col-md-8">
          <img src="assets/Screenshot 2020-06-23 at 2.38.43 PM.png" style="width: 100% ; object-fit: cover;" >
        </div>

        <div class="col-md-4" style="background-color:lightblue; display: flex;
        justify-content: center;
        align-items: center">
         <div style="align-self: center;">
          
            Reliable & Accesable to all <br> 
            <h1 style="color: #064848; font-size: 30px;">
                 Alice Hope MD <br>Oniline Medical<br> Services <br>
                 <button mat-raised-button style="margin-top: 30px; background-color:#064848 ; color: white;">Book an Online Appointent</button>
              </h1>
        
          </div>
          </div>
          </div>
          <h4 style="text-align: center; margin-top: 50px; color:#064848; font-size: 30px;">About</h4>
        
          <hr style="border-width:5px; width: 6rem; text-align: center; background-color: #064848;">
          <!-- <div style="text-decoration: underline; margin-top: 20px; border-color: black; border-width: 2px; width: 150px;;"></div> -->

          <div class="row class-sm-12" style="margin-top: 80px;">
       
  
          <div class="col-sm-6" style=" display: flex;
          justify-content: center;
          align-items: center">
           <div style="align-self: center;" class="col-sm-6">
            <h1 style="font-size: 30px;">
              About Alice Hope MD 
            </h1>
           <br> 
              <h3>
                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you. <br>Oniline Medical<br> Services <br>
                </h3>
                <h4>
                  This is a great space to write a long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.

                </h4>
            </div>
            </div>
            <div class="col-sm-6" style="display: flex;
            justify-content: center;
            align-items: center">
              <img src="/assets/Screenshot 2020-06-24 at 11.18.33 AM.png" style=" height: 30rem; object-fit: cover; align-self: center;" >
            </div>
            </div>

      

             <div id="news1" style="background-color: #064848;">
                  <h1 style="color: white; text-align: center; padding-top: 60px;">How Can I Help You</h1>
                  <hr style="border-width:5px; width: 6rem; text-align: center; background-color: white;">
                  <h2   style="color: white; text-align: center; margin-top: 50px;">Online Services</h2>

              <div class="col-sm-12 row" style="justify-content: center; align-items: center; margin-top: 40px;">
              <mat-card class="col-sm-2" style="background-color: #235d5d; width: 100%;">
                <div class="row" style="color: white;  display: flex;
                justify-content: center;
                align-items: center">
                  <h1 style="font-size: 30px;">1</h1>
                  <h1 style="margin-left: 20px; font-size: 18x;">Blood test <br> analysis</h1>
                </div>
              
                
              </mat-card>
              <mat-card class="col-sm-2" style="margin-left: 30px; background-color: #235d5d; width: 100%;">
                <div class="row" style="color: white; align-items: center; justify-content: center;">
                  <h1 style="font-size: 30px;">2</h1>
                  <h1 style="margin-left: 20px; font-size: 18x;">General <br>Health</h1>
                </div>
              </mat-card>
              </div>
              
              
              <div class="col-sm-12 row" style="justify-content: center; align-items: center; margin-top: 40px;">
              <mat-card class="col-sm-2" style="background-color: #235d5d;">
                <div class="row" style="color: white;  display: flex;
                justify-content: center;
                align-items: center">
                  <h1 style="font-size: 30px;">3</h1>
                  <h1 style="margin-left: 20px; font-size: 18x;">Mental <br>Health</h1>
                </div>
              
                
              </mat-card>
              <mat-card class="col-sm-2" style="margin-left: 30px; background-color: #235d5d">
                <div class="row" style="color: white; align-items: center; justify-content: center;">
                  <h1 style="font-size: 30px;">4</h1>
                  <h1 style="margin-left: 20px; font-size: 18x;">Prevention <br>wellness</h1>
                </div>
              </mat-card>
              </div> 
              <div style="display: flex; justify-content: center; padding-bottom: 50px; margin-top: 15px;">
                <button mat-raised-button style="margin-top: 30px; background-color:#d8efed ; color:black;    ">Book an Online Appointent</button> 

              </div>
            </div> 

            <div class="row class-sm-12" style="margin-top: 80px;">
       
  
              <div class="col-sm-6" style=" display: flex;
              justify-content: center;
              align-items: center;background-color:#064848 ; color: white;">
               <div style="align-self: center;" class="col-sm-6">
                <h1 style="font-size: 30px;">
                Working hours
                </h1>
               <br> 
                  <h3> Monday-Friday: 9am to 7pm
                    </h3>
                    <h4>
                      Saturday: 9am to 4pm
                    </h4>
                    <h4>
                      Sunday: Closed
                    </h4>
                </div>
                </div>
                <div class="col-sm-6" style="display: flex;
                justify-content: center;
                align-items: center; background-color: lightblue;">
                 
                 <!-- <img src="/assets/Screenshot 2020-06-24 at 11.18.33 AM.png" style=" height: 30rem; object-fit: cover; align-self: center;" > -->
        
                  <form class="example-form" style="padding-top:60px ; padding-bottom: 50px; color: #064848;">
                    <mat-label style=" font-size: 25px;">For Any Questions <br>
                      Contact me here</mat-label>
                    <table class="example-full-width" cellspacing="0" style="margin-top: 50px; color: #064848;"><tr>
                      <td>
                        <mat-form-field class="example-full-width" style="color: #064848;">
                        <mat-label style="color: #064848;">First name</mat-label>
                        <input matInput>
                      </mat-form-field></td>
                      <td><mat-form-field class="example-full-width">
                        <mat-label style="color: #064848;">Last Name</mat-label>
                        <input matInput>
                      </mat-form-field></td>
                      
                    </tr></table>
                    <p>
                      <mat-form-field class="example-full-width">
                        <mat-label style="color: #064848;">Gmail</mat-label>
                        <input matInput>
                      </mat-form-field>
                    </p>
                    <p>
                      <mat-form-field class="example-full-width">
                        <mat-label style="color: #064848;">Address</mat-label>
                        <textarea matInput placeholder="Ex. 100 Main St"></textarea>
                      </mat-form-field>
                    </p>
                    <button mat-raised-button style="margin-top: 30px; background-color:#064848 ; color: white;">Submit</button>

                  </form>
                  <h2 id = 'news2'>I a here </h2>
                  
                </div>
                </div>